@charset "UTF-8";



.edit_content-wrapp {
  background-color: #fafafa;
  width: 100%;
  /* height: calc(100vh - 70px); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 0;
}
.edit_wrapp {
  width: 70%;
  height: 60%;
  background-color: #fff;
}

.edit_top {
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-bottom: 3px solid #f7f7f7;
}
.edit_top ul {

}
.edit_top li p {
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.edit_top li a {
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  font-weight: bold;
  color: #dfdfdf;
}

.edit_bottom {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}
.edit_form {
  width: 100%;
}
.edit_form div {
  margin-bottom: 30px;
}
.edit_form label {
  display: block;
  margin-bottom: 10px;
}
.edit_form input {
  width: 100%;
  height: 2rem;
  display: block;
  border: 3px solid #f7f7f7;
  outline: none;
}
.edit_form input:focus {
  border-color: #dfdfdf;
}
.edit_form button {
  width: 100%;
  height: 2rem;
  border-radius: 15px;
  border: none;
  background-color: #FF4F50;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}
