@charset "UTF-8";
/* *{
  box-sizing: border-box;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
} */

/* セクション１ */

.main_content {
  width: 100%;
  height: 100vh;
  display: flex;

}

.main_left {
  width: 40%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 20%;
  font-family: cursive;
}
h1 span {
  font-size: 45px;
  color: red;
}
.about_p {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 40%;
}
.about_text {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 45%;
}
.near_btn {
  width: 200px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 70%;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0 auto
}
.near_btn a {
  color: black;
}

.main_right {
  width: 60%;
  height: 100vh;
}
.right_img {
  width: 100%;
  height: 100%;
  filter: blur(3px);
  /* position: absolute; */
  opacity: 0.6;
}
.regist_link {
  display: flex;
  position: absolute;
  top: 0;
  right: 10px;
}


/* セクション２ */
.introduction {
  width: 100%;
  height: 100%;
  background-color: #e8d94e;
  position: relative;
}
.head_int {
  width: 100%;
  height: 20vh;
  position: relative;
}
.flame_img {
  width: 100%;
  height: 100%;
}
.head_p {
  height: 100%;
  width: 100%;
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 15%;
  text-align: center;
  font-family: cursive;
}

.content_wrapp {
  margin-top: 50px;
}
.int_text h3 {
  font-size: 1.8vw;
  font-weight: bold;
  font-family: emoji;
  text-align: center;
  color: #fff;
}

.step_wrapp {
  margin-top: 100px;
}
.step {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.step_card {
  height: 40vh;
  width: calc(100% / 4);
  background-color: #FFFACD;
  border: 1px solid #FFFACD;
  border-radius: 20px;
  padding: 20px;
}
.step_img {
  width: 150px;
  height: 150px;
  border: 2px solid green;
  border-radius: 100%;
  margin: 0 auto;
}
.step_img img {
  width: 100%;
  height: 100%;
}
.step_text {
  margin-top: 20px;
}
.step_text h4 {
  font-size: 2.5vw;
  text-align: center;
  /* color: #fff; */
}
.step_text p {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.step_btn {
  margin-top: 100px;
  position: relative;
}
.step_btn p {
  height: 60px;
  width: 300px;
  border: 1px solid #FF4F50;
  border-radius: 20px;
  background-color: #FF4F50;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
}
.step_btn a {
  color: #fff;
}
.btn_man1 {
  display: flex;
  justify-content: center;
  display: none;
}
.btn_man1 img {
  height: 20vh;
  width: 15vw;
  position: absolute;
  top: 4vh;
}


.int2_wrapp {
  margin-top: 150px;
  padding-bottom: 50px;
}
.int2_text h3 {
  font-size: 1.8vw;
  font-weight: bold;
  font-family: emoji;
  text-align: center;
  color: #fff;
}
.int2_text p {
  font-size: 1.4vw;
  text-align: center;
  margin-top: 20px;
}

.int_bottom {
  height: 100%;
  width: 100%;
  margin-top: 100px;
  padding: 0 100px;
}
.int-img_wrapp {
  display: flex;
  justify-content: space-around;
  background-color: #FFFACD;
  border: 1px solid #FFFACD;
  border-radius: 20px;
  padding: 20px;
}
.int2_img {
  height: 35vh;
  width: 15vw;
  /* position: absolute; */

}
.int2_img img {
  height: 100%;
  width: 100%;
}
.int-blog_btn {
  display: flex;
  align-items: center;
  position: relative;
}
.int-blog_btn p {
  height: 60px;
  width: 300px;
  border: 1px solid #1E90FF;
  border-radius: 20px;
  background-color: #1E90FF;
  text-align: center;
  line-height: 60px;
  /* position: absolute; */

}
.int-blog_btn a {
  color: #fff;
}

.btn_man2 {
  display: flex;
  justify-content: center;
  display: none;
}
.btn_man2 img {
  height: 20vh;
  width: 15vw;
  position: absolute;
  top: 3vh;
}

/* セクション3 */
.int-store_wrapp {
  height: 100%;
  /* background-image: url(../img/store_bg.jpg); */
  padding: 50px;
  background-color: #339900;
  /* background-color: #01511e; */
}
.store_head {

}
.store_head h3 {
  font-size: 1.8vw;
  font-weight: bold;
  font-family: emoji;
  text-align: center;
  color: #fff;
}

.store-content_wrapp {
  height: 60vh;
  width: 100%;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #FFFACD;
  margin-top: 50px;
  padding: 100px;
}

.store-img_front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.store-man_img {
  height: 50vh;
  width: 30vw;
  position: absolute;
  top: -8vh;
}
.store-img_back {
  display: none;
}
.store-img_wrapp {
  display: flex;
  justify-content: space-around;
}
.store-img_top {
  width: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;

}
.store-phone_img {
  height: 40vh;
  width: 10vw;
  /* background-color: #fff; */
}
.store-img_middle {
  width: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-message_img {
  height: 20vh;
  width: 20vw;
}
.store-img_bottom {
  width: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;

}
.store-pc_img {
  height: 40vh;
  width: 15vw;
}
.int-store_btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}
.int-store_btn p {
  height: 60px;
  width: 300px;
  border: 1px solid #e8d94e;
  border-radius: 20px;
  background-color: #e8d94e;
  text-align: center;
  line-height: 60px;
  /* position: absolute; */

}
.int-store_btn a {
  color: black;
}

.btn_man3 {
  display: flex;
  justify-content: center;
  display: none;
}
.btn_man3 img {
  height: 20vh;
  width: 15vw;
  position: absolute;
  top: -9vh;
  right: 25vw;
}








/* レスポンシブ */
@media screen and (max-width: 959px) {
  /* セクション１ */
  .main_content {
  }
  h1 {
    font-size: 4vw;
  }
  h1 span {
    font-size: 5vw;
  }
  .about_p {
    font-size:2.6vw;
  }
  .about_text {
    font-size: 1.9vw;
  }
  .near_btn {
    width: 25vw;
  }
  .main_right {
    display: flex;
    align-items: center;
    /* background-color: #f7f7f7; */
  }
  .right_img {
    height: 50%;

  }

  /* セクション２ */
  .head_p {
    font-size: 5vw;
    top: 5vh;
  }
  .int_text h3 {
    font-size: 2.1vh;
  }
  .step_card {
    height: 31vh;
  }
  .step_btn p {
    width: 50vw;
  }
  .int2_text h3 {
    font-size: 2.1vh;
  }
  .int2_text p {
    font-size: 1.8vh; 
  }

}








@media screen and (max-width: 559px) {
  /* セクション１ */
  .main_content {
    display: block;
    position: relative;
  }
  .main_left {
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-size: 6vw;
    position: absolute;
    top: 17vh;
  }
  h1 span {
    font-size: 7.5vw;
  }
  .about_p {
    font-size:4.5vw;
    position: absolute;
    top: 40vh;
    z-index: 2;
    color: black;
  }
  .about_text {
    font-size: 2.5vw;
    position: absolute;
    top: 45vh;
    z-index: 2;
  }
  .near_btn {
    width: 25vw;
    position: absolute;
    top: 68vh;
    z-index: 2;
  }

  .main_right {
    display: inline-block;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 35vh;
  }
  .right_img {
    height: 100%;
    position: absolute;
  }
  .regist_link {
    position: absolute;
    top: -5.5vh;
  }

  /* セクション２ */
  .head_int {
    height: 13vh;
  }
  .head_p {
    font-size: 5vw;
    top: 30px;
  }



}





















/* fdfd */
