@charset "UTF-8";


.new_content {
  width: 70%;
  height: 80%;
  background-color: #fff;
}
.new_title {
  height: 50px;
  border-bottom: 3px solid #F7F7F7;
}
.new_title p {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
