@charset "UTF-8";

.new_content-wrapp {
  background-color: #fafafa;
  width: 100%;
  /* height: calc(100vh - 70px); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 0;
}
.new_wrapp {
  width: 70%;
  height: 60%;
  background-color: #fff;
}

.new_top {
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-bottom: 3px solid #f7f7f7;
}
.new_top ul {
  display: flex;
  justify-content: space-around;
}
.new_top li p {
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.new_top li p::after {
  content: "";
  height: 50px;
  width: 2px;
  background-color: #111111;
  position: absolute;
  top: 20px;
  left: 300px;
}
.new_top li a {
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  font-weight: bold;
  color: #dfdfdf;
}

.new_bottom {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}
.new_form {
  width: 100%;
}
.new_form div {
  margin-bottom: 30px;
}
.new_form label {
  display: block;
  margin-bottom: 10px;
}
.new_form input {
  width: 100%;
  height: 2rem;
  display: block;
  border: 3px solid #f7f7f7;
  outline: none;
}
.new_form input:focus {
  border-color: #dfdfdf;
}
.new_form button {
  width: 100%;
  height: 3rem;
  border-radius: 15px;
  border: none;
  background-color: #FF4F50;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.store_link-new {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}



/* レスポンシブ */
@media screen and (max-width: 959px) {
  .content_wrapp {

  }
  .new_wrapp {
    width: 90%;
    height: 70%;
  }
  .new_top {
    height: 15%;
  }
  .new_top p {
    line-height: 10vh;
    font-size: 4vw;
  }
  .new_bottom {
    padding: 0 20px;
    height: 85%;
  }
  .new_form label {
    font-size: 20px;
  }
  .new_form input {
    height: 5vh;
  }
  .new_form button {
    height: 6vh;
    font-size: 3vw;
  }




}

@media screen and (max-width: 559px) {
  .content_wrapp {
    height: calc(100vh - 60px);
    background-color: #fff;
  }
  .shared_header {
    height: 60px;
  }
  .header_title p a {
    font-size: 15px;
    margin-left: 15px;
  }
  .header_title p a span {
    font-size: 20px;
  }
  .shared_header li a {
    font-size: 15px;
  }

  .new_wrapp {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .new_top {
    height: 10%;
  }
  .new_top p {
    line-height: 10vh;
  }
  .new_bottom {
    height: 90%;
  }
  .new_form label {
    font-size: 16px;
  }

}
