@charset "UTF-8";
*{
  box-sizing: border-box;
}

.search_wrapp {
  /* width: 100vw; */
}

.search_header {
  height: 50vh;
  width: 100%;
  position: relative;
}
.search_header img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
}
.search_header h1 {
  width: 100%;
  font-size: 3.5vw;
  position: absolute;
  top: 7vh;
  z-index: 2;
  text-align: center;
  font-family: cursive;
  letter-spacing: 1rem;
  color: #000011;
}

.search_form-wrapp {
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 25vh;
  z-index: 2;
}
.search_form {
  height: 100%;;
  width: 100%;
  text-align: center;
  position: relative;
}
.search_input {
  height: 5vh;
  width: 40vw;
  border: none;
  outline: none;
  padding-left: 20px;
}
.search_btn {
  height: 5vh;
  width: 5vw;
  border: none;
  outline: none;
  position: absolute;
  right: 30vw;
  background-color:#ffff;
}
.search_btn:hover {
  cursor: pointer;
}

.blog_content-wrapp {
  height:100%;
  max-width: calc(100% - 400px);
  padding: 100px 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.blog_wrapp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog_content {
  /* height:40vh; */
  width: 30%;
  margin-bottom: 100px;
}
.blog_content a {
  text-decoration: none;
  color: #111111;
}
.blog_img-wrapp {
  /* height: 30vh;
  width: 25vw; */
}
.blog_img-pict {
  height: 100%;
  width: 100%;
  /* border-radius: 15px; */
}
.blog_info-wrapp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.store_name-blog {
  font-size: 1.4vw;
  font-weight: bold;
  margin-left: 20px;
}
.created_blog {
  font-size: 1vw;
  color: #d8d8d8;
}
.sentence_wrapp {
  font-size: 15px;
  letter-spacing: .1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.sentence_blog {
  color: #111111	;
}
.scroll_top-btn {
  height: 10vh;
  width: 6vw;
  text-align: center;
  line-height: 11vh;
  border-radius: 50px;
  position: absolute;
  bottom: 2vh;
  right: 5vw;
  z-index: 5;
  position: fixed;
  background-color: #FF4F50;
}
.top_btn {
  font-size: 2rem;
  color: #fff;
}
