@charset "UTF-8";

.shared_header {
  height: 70px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
}
.shared_header-title p a{
  width: 100%;
  height: 20px;
  line-height: 70px;
  font-size: 25px;
  font-family: cursive;
  margin-left: 50px;
  color: black;
}
.shared_header-title p span {
  font-size: 30px;
  color: #FF4F50;
}

.shares_header-nav {
  width: 50%;
  height: 100%;
}
.shared_header li {
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 60px;
}
.shared_header li a {
  font-size: 20px;
  color: #fff;
}

.shared_content-wrapp {
  background-color: #fafafa;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shared_footer {
  height: 70vh;
  width: 100%;
  position: relative;
  background-color: #fafafa;
}
.shared_footer-nav {
  height: 80%;
  width: 50%;
  position: absolute;
  top: 10vh;
  left: 5vw;
}
.shared_footer-nav h2 {
  font-size: 3vw;
  font-family: cursive;
  color: #111111;
}
.shared_footer-nav h2 span {
  font-size: 4.5vw;
  color: #FF4F50;
}
.shared_footer-nav ul {
  margin-top: 50px;
}
.shared_footer-nav li {
  margin-top: 20px;
  font-family: serif;
  font-size: 1.3vw;
}
.shared_footer-nav li a {
  color: #111111;
}





/* レスポンシブ */
@media screen and (max-width: 959px) {



}

@media screen and (max-width: 559px) {

}
