@charset "UTF-8";

.store_new_content-wrapp {
  background-color: #fafafa;
  width: 100%;
  /* height: calc(100vh - 70px); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.store_new_wrapp {
  width: 70%;
  height: 60%;
  background-color: #fff;
}

.store_new_top {
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-bottom: 3px solid #f7f7f7;
}
.store_new_top p {
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  font-weight: bold;
}

.store_new_bottom {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}
.store_new_form {
  width: 100%;
}
.store_new_form div {
  margin-bottom: 30px;
}
.store_new_form label {
  display: block;
  margin-bottom: 10px;
}
.store_new_form input {
  width: 100%;
  height: 2rem;
  display: block;
  border: 3px solid #f7f7f7;
  outline: none;
}
.store_new_form input:focus {
  border-color: #dfdfdf;
}
.store_new_form button {
  width: 100%;
  height: 3rem;
  border-radius: 15px;
  border: none;
  background-color: #FF4F50;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}




/* レスポンシブ */
@media screen and (max-width: 959px) {
  .store_new_content-wrapp {

  }
  .store_new_wrapp {
    width: 90%;
    height: 70%;
  }
  .store_new_top {
    height: 15%;
  }
  .store_new_top p {
    line-height: 10vh;
    font-size: 4vw;
  }
  .store_new_bottom {
    padding: 0 20px;
    height: 85%;
  }
  .store_new_form label {
    font-size: 20px;
  }
  .store_new_form input {
    height: 5vh;
  }
  .store_new_form button {
    height: 6vh;
    font-size: 3vw;
  }




}

@media screen and (max-width: 559px) {
  .store_new_content-wrapp {
    height: calc(100vh - 60px);
    background-color: #fff;
  }
  .shared_header {
    height: 60px;
  }
  .header_title p a {
    font-size: 15px;
    margin-left: 15px;
  }
  .header_title p a span {
    font-size: 20px;
  }
  .shared_header li a {
    font-size: 15px;
  }

  .store_new_wrapp {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .store_new_top {
    height: 10%;
  }
  .store_new_top p {
    line-height: 10vh;
  }
  .store_new_bottom {
    height: 90%;
  }
  .store_new_form label {
    font-size: 16px;
  }

}
