@charset "UTF-8";

* {
  box-sizing: border-box;
}

.store_account-wrapp {
  height: 100%;
  width: 100vw;
  display: flex;
}

/* side_bar */
.store_side-bar {
  height: auto;
  width: 300px;
  background-color: #f1f9ff;
}
.store_nav {
  padding: 50px 0 0 10px;
}
.store_nav li {
  margin-bottom: 30px;
}



/* main_content */
.store_main-content {
  height: 100%;
  width: 100%;
}

.store_main-pict {
  height: 400px;
  width: 100%;
  background-color: #ffff;
  padding: 20px 150px;
  /* padding: 50px 250px; */

}

.pict_flame {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 100px;
  position: relative;
}
.fa-plus-circle {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #909090;
}
.pict_flame img {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  object-fit: fill;
}
#imgfile_input {
  display: none;
}

.store_sub-cont {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #fafafa;
}
.store_name {
  margin-left: 30px;
  font-weight: bold;
}
.store_locate {
  margin-left: 10px;
  color: #909090;
}
.fav_icon {
  margin-right: 50px;
}

/* article */
.store_articles {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  background-color: #fff;
}
.new_article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new_article p {
  margin-top: 30px;
}
.store_article {
  height: 250px;
  width: 200px;
  margin: 0 23px 50px 23px;
  background-color: #f4f4f4;
}
