<!DOCTYPE html>
<html lang="ja">
<head>
<title>loading</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../css/reset.css">
<link rel="stylesheet" type="text/css" href="../css/loading.css">
</head>
<body>
  <div id="loading">
    <div class="loading_wrapp">
      <h1 class="loading_title">neigbor-<span>Food</span></h1>
    </div>
  </div>
</body>
</html>
